// mainImg　ここから
#mainImg p img {
    width: 100%;
    height: auto;
}

.newColor {
    width: 11.4vw;
    height: 11.4vw;
    position: absolute;

    // 位置調整する
    top: 10vw;
    right: 10vw;

    cursor: pointer;
    z-index: 1;

    &:hover .newColorTxt {
        transform: translate(8px, 8px);
    }

    &::after {
        content: '';
        width: 11.4vw;
        height: 11.4vw;
        border: solid 2px black;
        background-color: gray;
        position: absolute;
        top: 8px;
        right: -8px;
        z-index: -1;
    }

}

.newColorTxt {
    border: solid 2px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;

    img {
        width: 8.8vw;
        padding-bottom: 0.7vw;
        margin-top: -1.4vw;
    }


}

//　mainImg ここまで

// sub-contents ここから 
#sub-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;

    .subleft-wrap {
        border-right: solid 1px lightgrey;
        width: 50%;
        height: auto;
        padding-right: 10px;
    }

    .subleft img {
        width: 100%;
        height: auto;
        border: solid 1px lightgrey;
        border-radius: 5px;
    }

    .subright-wrap {
        width: 50%;
        height: auto;
        padding-left: 10px;
    }

    .btn {
        font-size: 16px;
        border: solid 1px lightgrey;
        border-radius: 5px;
        padding: 5px 0;
        text-align: center;


    }

    .btn01,
    .btn02 {
        margin-bottom: 10px;
    }

}

span::after {

    content: url(./img/arr-right.png);
    width: 16px;
}

// sub-contents ここまで   


#tvcm {
    text-align: center;

    .container {
        .title {
            h1 {
                width: 100%;
            }
        }

        display: block;

        .cmmovie {
            display: flex;

            .cmpos {
                position: relative;

                .mark {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                }
            }

        }

        .cmbottom {
            width: 100%;
        }
    }
}