// mainImg　ここから
#main {
    position: relative;

    #mainImg {
        p img {
            width: 100%;
            height: auto;
        }

        .showPC.showTAB {
            display: block !important;
        }

        .showSP {
            display: none !important;
        }
    }
}

.newColor {
    position: absolute;
    // 位置調整する
    top: -38vw;
    right: 5vw;
    cursor: pointer;
    z-index: 1;

    &:hover .newColorTxt {
        transform: translate(8px, 8px);
    }

    &::after {
        content: '';
        width: 11vw;
        height: 11vw;
        border: solid 2px black;
        background-color: gray;
        position: absolute;
        top: 8px;
        right: -8px;
        z-index: -1;
    }

    .newColorTxt {
        width: 11vw;
        height: 11vw;
        border: solid 2px black;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s ease-in-out;

        .showPC.showTAB {
            display: block !important;
        }

        .showSP {
            display: none !important;
        }

        img {
            width: 8vw;
            padding-bottom: 1vw;
            margin-top: -1.5vw;
        }
    }
}



//　mainImg ここまで

// sub-contents ここから 
#sub-contents {
    display: flex;
    // padding-left: 5vw;
    // padding-right: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;

    .subleft-wrap {
        display: flex;
        justify-content: end;
        border-right: solid 1px lightgrey;
        // width: 30%;
        height: auto;
        padding-right: 10px;
        flex-basis: 0;
        flex-grow: 1;

        .subleft {
            width: 50%;
        }
    }

    .subleft img {
        width: 100%;
        height: auto;
        border: solid 1px lightgrey;
        border-radius: 5px;
    }

    .subright-wrap {
        width: 50%;
        height: auto;
        padding-left: 10px;
        display: flex;
        justify-content: baseline;
        // flex-basis: 0;
        // flex-grow: 1;

        .subright {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
            border: solid 1px lightgrey;
            border-radius: 5px;
            padding: 5px 0;
            text-align: center;

            .btn-icon {
                height: 16px;
                vertical-align: middle;
                padding-right: 1%;
            }

        }

        .btn01,
        .btn02 {
            margin-bottom: 10px;
        }

    }
}

// .btn {
//     position: relative;
// }

// .logo1::before {
//     content: "";
//     // position: absolute;
//     background-image: url(/img/icon01.svg);
//     width: 20px;
//     height: 20px;
//     display: inline-block;
//     background-repeat: no-repeat;
//     background-position: left center;
//     background-size: 12px auto;
//     vertical-align: middle;
//     margin-right: 3.75%;
// }

// .logo2::before {
//     @extend .logo1;
//     background-image: url(/img/icon02.svg);
// }

// .logo3::before {
//     @extend .logo1;
//     background-image: url(/img/icon03.svg);
//     background-size: 18px auto;
// }


// .arr-right::after {

//     content: url(/img/arr-right.png);
//     margin-left: 3.75%;
//     width: 16px;

// }
// }

// sub-contents ここまで   

// tvcm
#tvcm {
    padding-right: 20px;
    padding-left: 20px;

    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto 50px;
        padding: 20px;

        // 後ろの背景色
        .backbox1 {
            width: 50%;
            height: 50%;
            background: #E94709;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .backbox2 {
            @extend .backbox1;
            background: #005DA7;
            left: 50%;
        }

        .backbox3 {
            @extend .backbox1;
            background: #006C3B;
            top: 50%;
        }

        .backbox4 {
            @extend .backbox1;
            background: #F8B300;
            top: 50%;
            left: 50%;
        }



        .top {
            padding-top: 80px;
            background-color: white;

            .title {
                h1 {
                    width: 489px;
                    margin: 0 auto;
                }
            }

            display: block;

            .cmmovie {
                display: flex;
                padding-top: 30px;
                padding-bottom: 41px;
                justify-content: center;
                align-items: center;

                .movie-right {
                    width: 39%;
                    margin-left: 3%;
                    text-align: left;

                    h2 {
                        font-weight: bold;
                    }
                }

                a {
                    width: 40%;
                    max-width: 460px;
                    position: relative;

                    &:hover {
                        img {
                            opacity: 70%;
                        }

                        &::after {
                            background-color: #00AEEF;
                        }

                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        border: solid 2px black;
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        z-index: 1;
                        background: left 15px center no-repeat url(/img/icon-play.png);
                        background-color: #FA4616;
                        transform: translate(-50%, -50%);

                    }

                }

            }

            .cmbottom {
                margin-top: -1px;
                padding-bottom: 20px;
                background-color: #fff;

                .cmbox {
                    position: relative;
                    margin: 0 auto 60px;
                    width: 348px;
                    height: 68px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 6px;
                        right: 0;
                        z-index: 1;
                        width: 340px;
                        height: 60px;
                        border: 2px solid #333333;
                        background-color: #C6C6C6;
                        box-sizing: border-box;
                    }

                    .cmboxinner {
                        position: relative;
                        width: 342px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 2;
                        border: 2px solid #333333;
                        background-color: white;
                        transition: .2s ease-in-out;

                        &:hover {
                            background-color: #E94709;
                            color: #fff;
                            transform: translate(6px, 6px);
                        }



                    }
                }
            }
        }
    }
}


// ここから最後
#imgs {
    h4 {
        position: relative;
        height: 70px;

        .textanime1,
        .textanime2 {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .animetion {
                display: inline-block;
                -webkit-transform: scale(0);
                transform: scale(0);

            }

            .jsanime {
                -webkit-animation: font 0.2s ease-in-out forwards;
                animation: font 0.2s ease-in-out forwards;

            }

            .marg {
                margin-left: 10px;
            }
        }

        // .textanime1 {
        //     .intro-text01 {
        //          opacity: 0; 
        //         transition: .2s;
        //     }
        //     .intro-text01.fadein{
        //          opacity: 1;
        //     }
        // }

        .textanime2 {
            display: none;
            // .intro-text02{
            //     opacity: 0; 	/* フェードインしたいので最初は非表示 */
            //     transition:  .2s;

            // }
            // .intro-text02.fadein{
            //     opacity: 1;
            // }
        }

        .txt {
            width: 83%;
            position: absolute;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);
        }
    }

    .photoanime {
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 63.14%;
        overflow: hidden;

        .intro-ph {
            opacity: 0;
            /* フェードインしたいので最初は非表示 */
            // transition: all 2s;
            /* 1秒かけてアニメーション */
        }

        .intro-ph.fadein {
            opacity: 1;
        }

        .animetion2 {
            position: absolute;
            z-index: 1;
            // opacity: 0;
            // -webkit-transform: scale(0);
            // transform: scale(0);
        }

        .anime1 {
            top: 3.6%;
            left: 30%;
            width: 18.23%;
        }

        .anime2 {
            top: 3.5%;
            right: 21%;
            z-index: 2;
            width: 33.09%;
        }

        .anime3 {
            top: 3.3%;
            right: 6.6%;
            width: 20.95%;
        }

        .anime4 {
            top: 8.2%;
            left: 0%;
            z-index: 8;
            width: 27.35%;
        }

        .anime5 {
            top: 9.4%;
            left: 25.6%;
            z-index: 2;
            width: 20%;
        }

        .anime6 {
            top: 45.91%;
            left: 0;
            z-index: 9;
            width: 50%;

        }

        .anime7 {
            top: 32%;
            left: 28.5%;
            z-index: 5;
            width: 26.32%;

        }

        .anime8 {
            top: 50.11%;
            left: 48.6%;
            z-index: 4;
            width: 14.4%;
        }

        .anime9 {
            top: 23%;
            right: 23%;
            z-index: 2;
            width: 29.41%;

        }

        .anime10 {
            top: 19.1%;
            right: 0;
            width: 31.76%;

        }

        .anime11 {
            top: 32.40%;
            right: 37.68%;
            width: 9.35%;

        }

        .anime12 {
            top: 79.86%;
            left: 60.64%;
            z-index: 4;
            width: 13.14%;

        }


    }
}